@font-face {
    font-family: 'Coves';
    src: url(../fonts/Coves-Bold/Coves\ Bold.otf);
}

/*Cores*/
:root {
    --preto: #000;
    --branco_fundo: #dcdbd2;
    --branco_card: #ffffff;
    /*  --amarelo: #F7E954; */
    --verde_claro: #88bb9e;
    --verde_escuro: #3c5e45;

}

.area {
    visibility: hidden;
}

/*body*/

html {
    font-size: calc(18px + 0.390625vw);
}

body {
    background-image: url(../images/forest\ background.png);
    background-color: var(--verde_escuro);
    font-family: 'Coves';
    overflow-x: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#div-parallax{
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    
}

/*navbar*/
.navbar {
    transition: 0.5s;
    background-color: #3c5e45cb;
    --bs-navbar-padding-y: 0.3rem;
}

#img_logo {
    max-width: 2.5rem;
    max-height: auto;
}

#div_link_logo {
    margin-left: 50%;
    width: 50%;
    padding: 0.5rem;
    position: fixed;
}

.navbar-toggler-icon {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url(../images/icone-menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-nav a {
    color: var(--branco_fundo);
}

.navbar-nav a:hover {
    color: var(--verde_claro);
}

/*sections*/
section .caixa {
    width: 100vw;
    margin: 0%;
    padding: 0rem 1.2rem;
    text-align: justify;
}

/*sect_apresentacao*/

#sect_apresentacao {
    height: 100vh;
}

#artigo_apresentacao{
    color: var(--branco_fundo);
    margin: 0% 6%;
}

#artigo_apresentacao h1 {
    color: var(--branco_fundo);
}

#img_apresentacao {
    object-fit: cover;
    background-color: var(--branco_fundo);
}

/*sect_sobre*/
#sect_sobre {
    background: var(--verde_escuro);
}

#sect_sobre .caixa h1 {
    padding: 3rem 0 0 0;
    color: var(--branco_card);
}

.cartao {
    margin: 15px 0px;
    background-color: var(--branco_card);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.cartao p {
    align-self: center;
}

.img_cartao {
    object-fit: cover;
    
}

/*sect_carrossel*/
#sect_carrossel {
    width: 100vw;
    background-image: url(../images/florestaIMAGEMarvores.webp);
}
.img-carrossel {
    object-fit: cover;
    height: 80vh;
    margin: auto;
}

/*sect_contato*/
#sect_contato {
    padding-top: 5em;
    height: 100%;
    width: auto;
    background-color: var(--verde_escuro);
}

.h1_contato{
    color: black;
    text-align: center;
    padding: 0 0 20px 0;
}

.h2_contato{
    color: var(--branco_fundo);
}

#contato_container {
    margin: auto;
    background: var(--branco_card);
    width: 90vw;
}

#contato_container form{
    padding: 0px 40px;
    box-sizing: border-box;
}

form .txt_form{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_form input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}

.txt_form label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 0.9em;
    pointer-events: none;
    transition: .5s;
}

.txt_form span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #3c5e45;
    transition: .5s;
}

.txt_form input:focus ~ label, .txt_form input:valid ~ label{
    top: -5px;
    color: #3c5e45;
}

.txt_form input:focus ~ span::before, .txt_form input:valid ~ span::before {
    width: 100%;
}

input[type="submit"]{
    display: block;
    margin: auto;
    min-width: 200px;
    height: 50px;
    background: var(--verde_escuro);
    border: 1px solid;
    border-radius: 3px;
    font-size: 1em;
    color: var(--branco_card);
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: .5s;
}

#div_submit {
    padding: 30px 0 50px 0;
}

input[type="submit"]:hover{
    background-color: var(--verde_claro);
    border: var(--verde_claro);
}

/* Time de desenvolvedores */
#article_contato_time {
    padding: 0.5em 2em;
    width: 100%;
}

.cartao_time {
    width: 100%;
    height: 190px;
    background: var(--branco_fundo);
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
.cartao_time:hover {
    height: 300px;
    transition: 0.5s;
}

.col-12 {
    flex: 0 0 auto;
    width: 14rem;
}

.cartao_time_img {
    margin: auto;
    transform: translateY(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}
.cartao_time:hover .cartao_time_img {
    width: 180px;
    height: 180px;
    transition: 0.5s;
}

.cartao_time_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.nome_participante {
    text-align: center;
    transform: translateY(-40%);
    max-width: 100%;
    max-height: 100%;
}

.nome_participante h2 {
    font-size: 1.5rem;
}

.nome_participante span {
    padding-top: 5%;
    visibility: hidden;
}

.cartao_time:hover .nome_participante span {
    transition: 0.5s;
    visibility: visible;
}

/*breakpoints*/

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*navbar*/
    .navbar {
        transition: 0.5s;
        background-color: #3c5e4500;
    }

    #logo {
        max-width: 5%;
        max-height: auto;
    }

    /*sect_apresentacao*/


    /*sect_sobre*/
    .cartao {
        max-width: 70%;
    }

    .cartao_esquerda {
        float: left;
    }

    .cartao_direita {
        float: right;
    }

    #contato_container {
        max-width: 800px;
    }

    input[type="submit"]{
        min-width: 300px;
        transition: .5s;
    }

}

@media (max-width: 768px){
    .img-carrossel {
        height: 70vh;
        width: 100%;
    }
}